In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [2]:
ts_data=pd.read_csv(r'C:\Users\Rajavardhan\OneDrive\Documents\TimesreisMultiple.csv')

In [3]:
ts_data.head

<bound method NDFrame.head of     Year  Quarter    Ysales
0   2009        1   50147.0
1   2009        2   49325.0
2   2009        3   57048.0
3   2009        4   76781.0
4   2010        1   48617.0
5   2010        2   50898.0
6   2010        3   58517.0
7   2010        4   77691.0
8   2011        1   50862.0
9   2011        2   53028.0
10  2011        3   58849.0
11  2011        4   79660.0
12  2012        1   51640.0
13  2012        2   54119.0
14  2012        3   65681.0
15  2012        4   85175.0
16  2013        1   56405.0
17  2013        2   60031.0
18  2013        3   71486.0
19  2013        4   92183.0
20  2014        1   60800.0
21  2014        2   64900.0
22  2014        3   76997.0
23  2014        4  103337.0
24  2015        1       NaN
25  2015        2       NaN
26  2015        3       NaN
27  2015        4       NaN>

In [4]:
ts_data.dtypes

Year         int64
Quarter      int64
Ysales     float64
dtype: object

In [5]:
ts_data['t_Qtr']=ts_data.index+1
ts_data['t_Qtr2']=ts_data['t_Qtr']**2
ts_data['t_Qtr3']=ts_data['t_Qtr']**3

In [6]:
ts_data.head()

   Year  Quarter   Ysales  t_Qtr  t_Qtr2  t_Qtr3
0  2009        1  50147.0      1       1       1
1  2009        2  49325.0      2       4       8
2  2009        3  57048.0      3       9      27
3  2009        4  76781.0      4      16      64
4  2010        1  48617.0      5      25     125

In [7]:
ts_data.index

RangeIndex(start=0, stop=28, step=1)

In [8]:
ts_data.columns

Index(['Year', 'Quarter', 'Ysales', 't_Qtr', 't_Qtr2', 't_Qtr3'], dtype='object')

In [9]:
ts_data.dtypes

Year         int64
Quarter      int64
Ysales     float64
t_Qtr        int64
t_Qtr2       int64
t_Qtr3       int64
dtype: object

In [10]:
# Quarter is an integer, we want to make it a string and append it to 'Qtr'
ts_data['Qtr']=ts_data['Quarter'].astype(str)
ts_data.head

<bound method NDFrame.head of     Year  Quarter    Ysales  t_Qtr  t_Qtr2  t_Qtr3 Qtr
0   2009        1   50147.0      1       1       1   1
1   2009        2   49325.0      2       4       8   2
2   2009        3   57048.0      3       9      27   3
3   2009        4   76781.0      4      16      64   4
4   2010        1   48617.0      5      25     125   1
5   2010        2   50898.0      6      36     216   2
6   2010        3   58517.0      7      49     343   3
7   2010        4   77691.0      8      64     512   4
8   2011        1   50862.0      9      81     729   1
9   2011        2   53028.0     10     100    1000   2
10  2011        3   58849.0     11     121    1331   3
11  2011        4   79660.0     12     144    1728   4
12  2012        1   51640.0     13     169    2197   1
13  2012        2   54119.0     14     196    2744   2
14  2012        3   65681.0     15     225    3375   3
15  2012        4   85175.0     16     256    4096   4
16  2013        1   56405.0     17     289    4913   1
17  2013        2   60031.0     18     324    5832   2
18  2013        3   71486.0     19     361    6859   3
19  2013        4   92183.0     20     400    8000   4
20  2014        1   60800.0     21     441    9261   1
21  2014        2   64900.0     22     484   10648   2
22  2014        3   76997.0     23     529   12167   3
23  2014        4  103337.0     24     576   13824   4
24  2015        1       NaN     25     625   15625   1
25  2015        2       NaN     26     676   17576   2
26  2015        3       NaN     27     729   19683   3
27  2015        4       NaN     28     784   21952   4>

In [11]:
ts_data=pd.get_dummies(ts_data,prefix=['Qtr'],columns=['Qtr'],drop_first=True)

In [12]:
ts_data.head()

   Year  Quarter   Ysales  t_Qtr  t_Qtr2  t_Qtr3  Qtr_2  Qtr_3  Qtr_4
0  2009        1  50147.0      1       1       1      0      0      0
1  2009        2  49325.0      2       4       8      1      0      0
2  2009        3  57048.0      3       9      27      0      1      0
3  2009        4  76781.0      4      16      64      0      0      1
4  2010        1  48617.0      5      25     125      0      0      0

In [13]:
ts_data=ts_data.drop(columns=['Year','Quarter'])

In [14]:
ts_data.head()

    Ysales  t_Qtr  t_Qtr2  t_Qtr3  Qtr_2  Qtr_3  Qtr_4
0  50147.0      1       1       1      0      0      0
1  49325.0      2       4       8      1      0      0
2  57048.0      3       9      27      0      1      0
3  76781.0      4      16      64      0      0      1
4  48617.0      5      25     125      0      0      0

### Step 2: Partition of the Data

In [15]:
training=ts_data.loc[0:19]
validation=ts_data.loc[20:23]
trainplusvalid=ts_data.loc[0:23]
forecast=ts_data.loc[24:28]

In [16]:
validation

      Ysales  t_Qtr  t_Qtr2  t_Qtr3  Qtr_2  Qtr_3  Qtr_4
20   60800.0     21     441    9261      0      0      0
21   64900.0     22     484   10648      1      0      0
22   76997.0     23     529   12167      0      1      0
23  103337.0     24     576   13824      0      0      1

In [17]:
forecast

    Ysales  t_Qtr  t_Qtr2  t_Qtr3  Qtr_2  Qtr_3  Qtr_4
24     NaN     25     625   15625      0      0      0
25     NaN     26     676   17576      1      0      0
26     NaN     27     729   19683      0      1      0
27     NaN     28     784   21952      0      0      1

In [18]:
y_train=training['Ysales']
x_train=training.drop(columns=['Ysales'])

y_valid=validation['Ysales']
x_valid=validation.drop(columns=['Ysales'])

y_trainplusvalid=trainplusvalid['Ysales']
x_trainplusvalid=trainplusvalid.drop(columns=['Ysales'])

x_forecast=forecast.drop(columns=['Ysales'])

### Step 3 Discover combination of input variables which creates the best Modl

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
mlr=LinearRegression()
mlr.fit(x_train, y_train)

In [21]:
mlr.fit(x_train, y_train)

LinearRegression()

In [22]:
# Add a constant column to the training data so that our model will produce an estimate of regression coefficient  for the intercept.
x2=sm.add_constant(x_train)

In [23]:
x2

    const  t_Qtr  t_Qtr2  t_Qtr3  Qtr_2  Qtr_3  Qtr_4
0     1.0      1       1       1      0      0      0
1     1.0      2       4       8      1      0      0
2     1.0      3       9      27      0      1      0
3     1.0      4      16      64      0      0      1
4     1.0      5      25     125      0      0      0
5     1.0      6      36     216      1      0      0
6     1.0      7      49     343      0      1      0
7     1.0      8      64     512      0      0      1
8     1.0      9      81     729      0      0      0
9     1.0     10     100    1000      1      0      0
10    1.0     11     121    1331      0      1      0
11    1.0     12     144    1728      0      0      1
12    1.0     13     169    2197      0      0      0
13    1.0     14     196    2744      1      0      0
14    1.0     15     225    3375      0      1      0
15    1.0     16     256    4096      0      0      1
16    1.0     17     289    4913      0      0      0
17    1.0     18     324    5832      1      0      0
18    1.0     19     361    6859      0      1      0
19    1.0     20     400    8000      0      0      1

In [24]:
est=sm.OLS(y_train,x2)
est2=est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Ysales   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.993
Method:                 Least Squares   F-statistic:                     450.4
Date:                Wed, 14 Jul 2021   Prob (F-statistic):           2.63e-14
Time:                        07:16:55   Log-Likelihood:                -164.43
No. Observations:                  20   AIC:                             342.9
Df Residuals:                      13   BIC:                             349.8
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.893e+04   1245.230     39.296      0.000    4.62e+04    5.16e+04
t_Qtr        -65.2412    512.930     -0.127      0.901   -1173.360    1042.878
t_Qtr2        -0.3505     56.033     -0.006      0.995    -121.402     120.701
t_Qtr3         2.0268      1.759      1.153      0.270      -1.772       5.826
Qtr_2       1274.0611    711.294      1.791      0.097    -262.595    2810.718
Qtr_3       9317.2146    725.227     12.847      0.000    7750.456    1.09e+04
Qtr_4       2.837e+04    748.842     37.889      0.000    2.68e+04       3e+04
==============================================================================
Omnibus:                        2.222   Durbin-Watson:                   1.827
Prob(Omnibus):                  0.329   Jarque-Bera (JB):                1.291
Skew:                           0.314   Prob(JB):                        0.524
Kurtosis:                       1.926   Cond. No.                     1.76e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.76e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [25]:
y_pred=mlr.predict(x_valid)

In [26]:
y_pred

array([ 66177.93008768,  70182.86636827,  81223.73318059, 103556.33052464])

In [27]:
df=pd.DataFrame({'Actual':y_valid, 'Predicted':y_pred})
df.sort_index()

      Actual      Predicted
20   60800.0   66177.930088
21   64900.0   70182.866368
22   76997.0   81223.733181
23  103337.0  103556.330525

In [28]:
import sklearn
R2=sklearn.metrics.r2_score(y_valid,y_pred)
MAE=sklearn.metrics.mean_absolute_error(y_valid,y_pred)
RMSE=np.sqrt(sklearn.metrics.mean_squared_error(y_valid,y_pred))

print('R2:{0:.3f}'.format(R2))
print('MAE:{0:.1f}'.format(MAE))
print('RMSE:{0:.1f}'.format(RMSE))

R2:0.932
MAE:3776.7
RMSE:4322.7

### Model 2: Keep t_Qtr and t_Qtr2 (Drop t_Qtr3)

In [29]:
x_train_no_qtr3=x_train.drop(columns=['t_Qtr3'])
x_valid_no_qtr3=x_valid.drop(columns=['t_Qtr3'])

In [30]:
mlr.fit(x_train_no_qtr3,y_train)

LinearRegression()

In [31]:
x2=sm.add_constant(x_train_no_qtr3)
est=sm.OLS(y_train,x2)
est2=est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Ysales   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.993
Method:                 Least Squares   F-statistic:                     527.9
Date:                Wed, 14 Jul 2021   Prob (F-statistic):           2.01e-15
Time:                        07:16:55   Log-Likelihood:                -165.40
No. Observations:                  20   AIC:                             342.8
Df Residuals:                      14   BIC:                             348.8
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.992e+04    914.665     54.576      0.000     4.8e+04    5.19e+04
t_Qtr       -617.7505    184.575     -3.347      0.005   -1013.624    -221.877
t_Qtr2        63.4941      8.528      7.445      0.000      45.203      81.786
Qtr_2       1357.3631    715.862      1.896      0.079    -178.007    2892.734
Qtr_3       9477.7381    720.025     13.163      0.000    7933.438     1.1e+04
Qtr_4       2.862e+04    726.712     39.379      0.000    2.71e+04    3.02e+04
==============================================================================
Omnibus:                        4.624   Durbin-Watson:                   1.603
Prob(Omnibus):                  0.099   Jarque-Bera (JB):                1.496
Skew:                           0.065   Prob(JB):                        0.473
Kurtosis:                       1.667   Cond. No.                         868.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [32]:
y_pred=mlr.predict(x_valid_no_qtr3)

In [33]:
df=pd.DataFrame({'Actual':y_pred, 'Predicted':y_pred})
df.sort_index()

          Actual      Predicted
0   64947.249270   64947.249270
1   68417.106934   68417.106934
2   78776.964599   78776.964599
3  100282.622263  100282.622263

In [34]:
R2=sklearn.metrics.r2_score(y_valid,y_pred)
MAE=sklearn.metrics.mean_absolute_error(y_valid,y_pred)
RMSE=np.sqrt(sklearn.metrics.mean_squared_error(y_valid,y_pred))

print('R2:{0:.3f}'.format(R2))
print('MAE:{0:.1f}'.format(MAE))
print('RMSE:{0:.1f}'.format(RMSE))

R2:0.962
MAE:3124.7
RMSE:3243.0

### Model3: Keep t_Qtr and t_Qtr3 (Drop t_Qtr2)

In [35]:
x_train_no_qtr2=x_train.drop(columns=['t_Qtr2'])
x_valid_no_qtr2=x_valid.drop(columns=['t_Qtr2'])

In [36]:
mlr.fit(x_train_no_qtr2,y_train)

LinearRegression()

In [37]:
x2=sm.add_constant(x_train_no_qtr2)
est=sm.OLS(y_train, x2)
est2=est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Ysales   R-squared:                       0.995
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                     582.1
Date:                Wed, 14 Jul 2021   Prob (F-statistic):           1.02e-15
Time:                        07:16:55   Log-Likelihood:                -164.43
No. Observations:                  20   AIC:                             340.9
Df Residuals:                      14   BIC:                             346.8
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.894e+04    783.775     62.439      0.000    4.73e+04    5.06e+04
t_Qtr        -68.3728    107.884     -0.634      0.536    -299.760     163.015
t_Qtr3         2.0159      0.255      7.907      0.000       1.469       2.563
Qtr_2       1274.5240    681.702      1.870      0.083    -187.582    2736.630
Qtr_3       9318.0918    685.659     13.590      0.000    7847.500    1.08e+04
Qtr_4       2.837e+04    692.887     40.951      0.000    2.69e+04    2.99e+04
==============================================================================
Omnibus:                        2.231   Durbin-Watson:                   1.827
Prob(Omnibus):                  0.328   Jarque-Bera (JB):                1.290
Skew:                           0.312   Prob(JB):                        0.525
Kurtosis:                       1.923   Cond. No.                     1.48e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.48e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [38]:
y_pred=mlr.predict(x_valid_no_qtr2)

In [39]:
df=pd.DataFrame({'Actual':y_pred, 'Predicted':y_pred})
df.sort_index()

          Actual      Predicted
0   66171.929002   66171.929002
1   70174.184361   70174.184361
2   81211.587157   81211.587157
3  103539.937389  103539.937389

In [40]:
R2=sklearn.metrics.r2_score(y_valid,y_pred)
MAE=sklearn.metrics.mean_absolute_error(y_valid,y_pred)
RMSE=np.sqrt(sklearn.metrics.mean_squared_error(y_valid,y_pred))

print('R2:{0:.3f}'.format(R2))
print('MAE:{0:.1f}'.format(MAE))
print('RMSE:{0:.1f}'.format(RMSE))

R2:0.932
MAE:3765.9
RMSE:4315.0

### Retrain the Model

In [41]:
x_trainplusvalid_no_qtr3=x_trainplusvalid.drop(columns=['t_Qtr3'])
x_forecast_no_qtr3=x_forecast.drop(columns=['t_Qtr3'])

In [42]:
mlr.fit(x_trainplusvalid_no_qtr3, y_trainplusvalid)

LinearRegression()

In [43]:
x2=sm.add_constant(x_trainplusvalid_no_qtr3)
est=sm.OLS(y_trainplusvalid,x2)
est2=est.fit()
print(est2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Ysales   R-squared:                       0.990
Model:                            OLS   Adj. R-squared:                  0.988
Method:                 Least Squares   F-statistic:                     374.6
Date:                Wed, 14 Jul 2021   Prob (F-statistic):           1.56e-17
Time:                        07:16:55   Log-Likelihood:                -208.41
No. Observations:                  24   AIC:                             428.8
Df Residuals:                      18   BIC:                             435.9
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const       4.959e+04   1209.724     40.995      0.000    4.71e+04    5.21e+04
t_Qtr       -613.5564    203.106     -3.021      0.007   -1040.266    -186.847
t_Qtr2        61.0442      7.881      7.746      0.000      44.486      77.602
Qtr_2       1514.5402    954.017      1.588      0.130    -489.776    3518.856
Qtr_3       9981.4919    957.832     10.421      0.000    7969.162     1.2e+04
Qtr_4       2.999e+04    964.026     31.107      0.000     2.8e+04     3.2e+04
==============================================================================
Omnibus:                        0.327   Durbin-Watson:                   1.431
Prob(Omnibus):                  0.849   Jarque-Bera (JB):                0.333
Skew:                           0.236   Prob(JB):                        0.847
Kurtosis:                       2.668   Cond. No.                     1.24e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.24e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [44]:
y_pred=mlr.predict(x_forecast_no_qtr3)

In [45]:
y_pred

array([ 72406.25102215,  76420.48824532,  87509.22546848, 110259.96269165])